
body{
    background-color:#FFFDF3;
    display: flex;
    justify-content: center;

    font-family: Microsoft JhengHei;
}

.icon{
    width: 36.5px;
    height: 35.5px;
}

container{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

#logo{
    width: 331px ;
    height: 66px;
}
.header_left > img{
    width: 60px;
    height: 66px;
}

.header_right{
    display: flex;
    align-self: flex-end;

    font-size: 24pt;
    
}
.header_right > * {
    margin-left: 15px;
}



.header_line{
    border: 1px solid #474241;
    
}



ul{
    list-style:none;
    background: #A8E5BD;
    display: flex;
    justify-content: space-around;

    font-size: 27pt;
}

nav{
    margin: 0px;
    display: flex;
    
}

nav ul{
    
    margin:0px;
    width: 100%;
    padding:20px 0px;  
}


a{
    text-decoration:none;
    color:black ;
}


.slide{
    margin: 50px 0px;

    width: 1047px;
    height: 655px;
}



.how_to_start_tittle{
    display: flex;
    margin: 10px;
    
    width: 1000px;
    height: 160px;
    background: #A8E5BD;
    padding-left: 150px;
    
}

.how_to_start_tittle img{
    width:105px ;
    height:105px ;
    align-self: center;

}

.tittle_text{
    margin-left: 35px;

    font-size: 56pt;
    line-height: 160px;
}



.content_box{
    display: flex;
    justify-content: space-between;

    padding-left: 450px;
    padding-right: 550px;
    margin: 50px;
}



.subtittle{
    display: flex;
    font-size: 40pt;
    
    align-items:center ;
}
.subtittle_number{
    
    height: 65px;
    
    border:1px solid #A8E5BD;
    border-radius: 25px;
    
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #A8E5BD;

}
.subtittle_text{
    margin-left: 15px;
}



.content_box_right{
    margin-left: 100px;

}
.content_box_right img{
    width: 236px;
    height: 235px;

}



footer ul{
    padding:40px 0px;  
    width: 100%;
}

.btn_start{
    margin: 100px;
    display: flex;
    justify-content: center;
}
.btn_start a{
    width: 509px;
    height: 166px;
    
    font-size: 70px;
    
    border: 20px solid #A8E5BD;
    border-radius: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}



.center{
    display: flex;
    justify-content: center;
}