
html{
    font-size:35pt;

}

body{
    background-color:#FFFDF3;
    display: flex;
    justify-content: center;

    font-family: Microsoft JhengHei;
   /* font-weight: 550; */
    color: #474241;
}

.icon{
    width: 29px;
    height: 29px;
}


.container-fluid{
    width: 1280px;
    margin: 0px;
}



header{
    margin-bottom: 15px;
    font-size: 0.42em;
}


.logo{
    width: 331px;
    height: 66px;
    margin-left: 113px;
}
.logo_near{
    width: 60px;
    height: 66px;
    margin-left:30px;
}


.header__right{
    margin-right: 122px;

}


.icon{
    margin-left: 10px;

}



.header__search{
    width: 82px;
    margin:0px 10px ;

}







.nav-customized{
    background: #9CD3BE;
    font-size: 0.57rem;
}



.navigation .nav-link{
    padding-left:41.5px ;
    padding-right:41.5px ;
}
.nav-row{
    background: #9CD3BE;
    height: 95px;
    margin-bottom: 75px;
}

.nav-tabs .nav-link:hover{    
    background-color: rgb(136, 185, 167);
    color: #474241;
    border-color: rgb(136, 185, 167) rgb(136, 185, 167) rgb(136, 185, 167);
}

.dropdown-menu{
    font-size: 0.57rem;
}
.dropdown-item:hover{
   color: #16181b;
   text-decoration: none;
   background-color: #9CD3BE;
}
ul a{
  color: #474241;
  font-family: Microsoft JhengHei;
  font-weight: 550;
}


/*下面用來去掉選單箭頭*/
.dropdown-toggle::after {
    display:none;
}


/*封存
nav{
    margin: 0px;
}
nav ul{
    margin:0px;
    width: 100%;
    padding:0px 0px;  
}
nav li{
    min-width: 264px;
}
nav a{
    padding: 10px 60px;
    margin: 0px 0px;
}
nav li:hover a {
	background: rgb(140, 189, 170);
}

*/



a,a:hover{
    text-decoration:none;
    color: #474241;
}



.slide{
    margin: 0px 0px;

    width: 1047px;
    height: 655px;
}



.HowToStart__tittle{
    display: flex;
    margin: 10px;
    
    width: 1280px;
    height: 160px;
    background: #9CD3BE;
    padding-left: 150px;
    
    margin-top: 75px;
    margin-bottom: 143px;
}
.HowToStart__tittle img{
    width:105px ;
    height:105px ;
    align-self: center;

}
.tittle_text{
    margin-left: 35px;

    font-size: 1em;
    line-height: 160px;
    min-width: 335px;
    
    font-weight: 550;
}




.content_box{
    display: flex;
    justify-content: center;

    
    margin: 100px;
}


.subtittle{
    display: flex;
    font-size: 0.71rem;
    
    align-items:center ;
}
.subtittle_number{
    
    height: 60px;
    line-height: 60px;
    border:1px solid #9CD3BE;
    border-radius: 20px;
    
    padding-left: 20px;
    padding-right: 20px;
    
    background-color: #9CD3BE;
    
}
.subtittle_text{
    margin-left: 15px;
}


.content_box_left{

    min-width: 417px;
    height: 194px;
}
.content_box_text{
    font-size: 0.57rem;
    margin-top: 21px;
    margin-bottom: 0px;
}


.content_box_right{
    align-self: center;
    margin-left: 75px;

}
.content_box_right img{
    width: 160px;
    height: 160px;

}


.HowToStart__btn{
    margin: 20px;
    width: 615px;
    height: 166px;

  
}





.footer{
    margin-top: 126px;
    height: 126px;
    
}

.footer ul{
    list-style:none;
    background: #9CD3BE;

    margin:0px;
    padding:0px 0px;

    
    width: 100%;
    height: 126px;
    
    font-size: 0.57rem;
}

.footer .nav-link{
    width:158.3px;
    padding-left:22.5px ;
    padding-right:22.5px ;
}

.footer__text{
    width: 158.3px;

}

.footer .footer_text:hover a {
	background: rgb(140, 189, 170);
}




