
html{
    font-size:35pt;

}

body{
    background-color:#FFFDF3;
    display: flex;
    justify-content: center;

    font-family: "Arial","Helvetica", "Noto Sans TC","微軟正黑體", sans-serif;
   /* font-weight: 550; */
    color: #474241;
    scrollbar-color: #d4fc79 #F5F5F5;
    
}

.container-fluid{
    width: 1440px;
}



header{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.42em;
}


.logo{
    width: 331px;
    height: 66px;
    margin-left: 113px;
}
.logo_near{
    width: 60px;
    height: 66px;
    margin-left:30px;
}


.header__right{
    margin-right: 20px;

}

.icon{
    margin-left: 10px;
    width: 29px;
    height: 29px;
}

.header__search{
    width: 82px;
    margin:0px 10px ;

}




/*drop-down nav*/

/*色塊定義*/
.nav__color_block{
    position: relative;
    top: 35px;
    width: 600px;
    height: 30px;
    background-color: #7CC19D;
}

.nav-customized{
    background: #64B28B;
    font-size: 0.57rem;
}

.navigation .nav-link{
    padding:0px 0px; 
    line-height: 65px;
}
.nav-row{
    background: #64B28B;
    height: 65px;
    margin-bottom: 75px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    color: white;
}

.nav-tabs .nav-link:hover{    
    background-color: rgb(136, 185, 167);
    color: white;
    border-color: rgb(136, 185, 167) rgb(136, 185, 167) rgb(136, 185, 167);
}

.dropdown-menu{
    font-size: 0.57rem;
}
.dropdown-item:hover{
   color: #16181b;
   text-decoration: none;
   background-color: #9CD3BE;
}
ul a{
  color: #474241;
  font-family: Microsoft JhengHei;
 /* font-weight: 550; */
}


/*去掉選單箭頭*/
.dropdown-toggle::after {
    display:none;
}


a,a:hover{
    text-decoration:none;
    color: #474241;
}


#my-carousel .carousel-inner img {
    width: 100%;
    height: 100%;
}
.slide{
    margin: 0px 0px;

    width: 1047px;
    height: 655px;
}

/*愛上Travelbee的理由*/
.reason{
    margin: 20px;
    padding: 20px;
    background-color:#F4EAC3 ;  
    z-index: 0; 
}
.reason p{
    z-index: 2;
}
/*色塊定義*/
.reason__color_block_top{
    width: 200px;
    height: 40px;
    position: relative;
    left: -350px;
    top: 30px;

    z-index: 1;
    border-radius: 30px;
    background-color: #90D3AF;
}
.reason__color_block_bottom{
    width: 1330px;
    height: 50px;
    position: relative;
    left: 10px;
    top: -40px;

    z-index: 1;
    border-radius: 30px;
    background-color: #419E76;
}
.reason__row{
    background-color: #5AB791;
    color: white;
    border-radius: 20px;
    z-index: 2;
}

.reason__icon{
    width: 50px;
    height: 50px;
}



/*色塊定義*/
.color_block{
    width: 200px;
    height: 40px;
    position: relative;
    left: -190px;
    top: 30px;


    z-index: -1;
    border-radius: 30px;
    background-color: #90D3AF;
}

/*如何開始區塊*/

.HowToStart{
    width: 1440px;
}

/*如何開始 Tittle的部分*/
.HowToStart__tittle , .FindBee__tittle , .BecomeBee__tittle{
    display: flex;
    margin: 10px;
    
    margin-top: 80px;
    margin-bottom: 30px;
}
.HowToStart__tittle img , .FindBee__tittle img , .BecomeBee__tittle img{
    width:80px ;
    height:80px ;
    align-self: center;
}
.HowToStart__tittle .tittle_text{
    margin-left: 5px;
    font-size: 1em;
    font-weight: 550;
}

/*內容部分*/

/*subtittle的font-size: 0.71rem;*/
.subtittle_number{
    width: 100px;
    height: 100px;

    color: white;
    border:1px solid #419E76;
    border-radius: 20px;
    background-color: #419E76;
}

.subtittle_text{
    margin-left: 0px;
}

.content_box_text{
    font-size: 0.57rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content_box_right{
    align-self: center;
}
.content_box_right img{
    width: 160px;
    height: 160px;
}

.HowToStart__btn__link:hover .HowToStart__btn{
    filter: brightness(80%);
    -webkit-filter:brightness(80%); 
}

.HowToStart__btn{
    margin: 20px;
    width: 615px;
    height: 166px;
}

/*大按鈕的陰影色塊*/
/*色塊定義*/
.btn_color_block{
    width: 615px;
    height: 165px;
    position: relative;
    left: 30px;
    top: -150px;


    z-index: -1;
    border-radius: 30px;
    background-color: #419E76;
}





.FindBee__text{
    margin-top: 90px;
}






.BecomeBee__pros{
    padding: 40px;
    margin-bottom: 100px;

    background-color: #F4EAC3;
}
.pro{
    width: 300px;
    height: 300px;
}




.footer{
    margin-top: 126px;
    height: 126px;
    
}

.footer ul{
    list-style:none;
    background: #9CD3BE;

    margin:0px;
    padding:0px 0px;

    
    width: 100%;
    height: 126px;
    
    font-size: 0.57rem;
}

.footer .nav-link{
    width:158.3px;
    padding-left:22.5px ;
    padding-right:22.5px ;

    color: black;
}

.footer__text{
    width: 158.3px;

}

.footer .footer_text:hover a {
	background: rgb(140, 189, 170);
}

/*Top按鈕*/
.gotop {
    position:fixed;
    z-index:90;
    right:30px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background:#9CD3BE;
    line-height:50px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.gotop :hover{
    background:rgb(85, 138, 117);
}



/*scrollbar*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
    
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); 
}
    
