
body{
    background-color:#FFFDF3;
    display: flex;
    justify-content: center;

    font-family: Microsoft JhengHei;
    font-weight: 550;
    color: #474241;
}

.icon{
    width: 36.5px;
    height: 35.5px;
}

container{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

#logo{
    width: 331px ;
    height: 66px;
}
.header_left > img{
    width: 60px;
    height: 66px;
}

.header_right{
    display: flex;
    align-self: flex-end;

    font-size: 24pt;
    
}
.header_right > * {
    margin-left: 15px;
}

.header_right hr{
    width: 90px;
    align-self: flex-end;
    margin:0px 0px 10px 15px;
    
}



.header_line{
    border: 1px solid #474241;
    height: 32px;
    align-self: center;
}




ul{
    list-style:none;
    background: #9CD3BE;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 69px;
    font-size: 27pt;
}


nav{
    margin: 0px;
}
nav ul{
    margin:0px;
    width: 100%;
    padding:0px 0px;  
}
nav a{
    padding: 10px 90px;
    margin: 0px 0px;
    
}
nav li:hover a {
	background: rgb(140, 189, 170);
}



a{
    text-decoration:none;
    height: 61px;
    color: #474241;
}



.slide{
    margin: 50px 0px;

    width: 1047px;
    height: 655px;
}




.how_to_start_tittle{
    display: flex;
    margin: 10px;
    
    width: 1000px;
    height: 160px;
    background: #9CD3BE;
    padding-left: 150px;
    
    
}
.how_to_start_tittle img{
    width:105px ;
    height:105px ;
    align-self: center;

}
.tittle_text{
    margin-left: 35px;

    font-size: 56pt;
    line-height: 160px;
    min-width: 335px;
}




.content_box{
    display: flex;
    justify-content: center;

    padding-left: 650px;
    padding-right: 550px;
    margin: 50px;
}


.subtittle{
    display: flex;
    font-size: 40pt;
    
    align-items:center ;
}
.subtittle_number{
    
    height: 65px;
    
    border:1px solid #9CD3BE;
    border-radius: 25px;
    
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #9CD3BE;

}
.subtittle_text{
    margin-left: 15px;
}


.content_box_left{

    min-width: 550px;
    height: 300px;
}
.content_box_text{
    font-size: 25pt;
}


.content_box_right{
    margin-left: 100px;

}
.content_box_right img{
    width: 236px;
    height: 235px;

}



footer ul{
    padding:40px 0px;  
    width: 100%;
}

.btn_start{
    margin: 100px;
    display: flex;
    justify-content: center;
}
.btn_start a{
    width: 509px;
    height: 166px;
    
    font-size: 70px;
    
    border: 20px solid #9CD3BE;
    border-radius: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}



.center{
    display: flex;
    justify-content: center;
}