
body{
    background-color:#FFFDF3;
    display: flex;
    justify-content: center;

    font-family: Microsoft JhengHei;
    font-weight: 550;
    color: #474241;
}

.icon{
    width: 36.5px;
    height: 35.5px;
}

.container{
    width: 100%s;
    margin: 0px;
}



header{
    margin-bottom: 20px;
    font-size: 20pt;
}
.logo{
    width: 331px ;
    height: 66px;
}
.logo_near{
    width: 60px;
    height: 66px;
}
.header_line{
    border: 1px solid #474241;
    height: 40px;
}
.header__right > * {
    margin-left: 15px;
}









.nav-customized{
    background: #9CD3BE;
    font-size: 20pt;
}

.nav-tabs .nav-link:hover{    
    background-color: rgb(136, 185, 167);
    color: #474241;
    border-color: rgb(136, 185, 167) rgb(136, 185, 167) rgb(136, 185, 167);
}
.dropdown-item:hover{
   color: #16181b;
   text-decoration: none;
   background-color: #9CD3BE;
}
ul a{
  color: #474241;
  font-family: Microsoft JhengHei;
  font-weight: 550;
}


/*封存
nav{
    margin: 0px;
}
nav ul{
    margin:0px;
    width: 100%;
    padding:0px 0px;  
}
nav li{
    min-width: 264px;
}
nav a{
    padding: 10px 60px;
    margin: 0px 0px;
}
nav li:hover a {
	background: rgb(140, 189, 170);
}

*/



a,a:hover{
    text-decoration:none;
    color: #474241;
}



.slide{
    margin: 50px 0px;

    width: 1047px;
    height: 655px;
}




.how_to_start_tittle{
    display: flex;
    margin: 10px;
    
    width: 1000px;
    height: 160px;
    background: #9CD3BE;
    padding-left: 150px;
    
    
}
.how_to_start_tittle img{
    width:105px ;
    height:105px ;
    align-self: center;

}
.tittle_text{
    margin-left: 35px;

    font-size: 56pt;
    line-height: 160px;
    min-width: 335px;
}




.content_box{
    display: flex;
    justify-content: center;

    
    margin: 50px;
}


.subtittle{
    display: flex;
    font-size: 40pt;
    
    align-items:center ;
}
.subtittle_number{
    
    height: 65px;
    
    border:1px solid #9CD3BE;
    border-radius: 25px;
    
    padding-left: 15px;
    padding-right: 15px;
    
    background-color: #9CD3BE;

}
.subtittle_text{
    margin-left: 15px;
}


.content_box_left{

    min-width: 550px;
    height: 300px;
}
.content_box_text{
    font-size: 25pt;
}


.content_box_right{
    margin-left: 100px;

}
.content_box_right img{
    width: 236px;
    height: 235px;

}


.btn_start{
    margin-top: 20px;
    margin-bottom: 100px;
}
.btn_start a{

    font-size: 70px;    
    border: 20px solid #9CD3BE;
    border-radius: 70px;
    padding: 20px 60px;

}
.btn_start a:hover{
    border-color: rgb(132, 179, 161);
    font-weight: 450;
}




footer ul{
    list-style:none;
    background: #9CD3BE;

    margin:0px;
    padding:0px 0px;

    width: 100%;
    font-size: 20pt;


}
footer .footer_text:hover a {
	background: rgb(140, 189, 170);
}




