
html{
    font-size:35pt;

}

body{
    background-color:#FFFDF3;
    display: flex;
    justify-content: center;

    font-family: "Arial","Helvetica", "Noto Sans TC","微軟正黑體", sans-serif;
   /* font-weight: 550; */
    color: #474241;
    scrollbar-color: #d4fc79 #F5F5F5;
    
}

.container-fluid{
    max-width: 2000px !important; 
}


header{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.42em;
}

.logo{
    width: 270px;
    height: 44px;
}
.header__right{
    margin-right: 20px;
}
.icon{
    margin-left: 10px;
    width: 29px;
    height: 29px;

}
.header__search{
    width: 82px;
    margin:0px 10px ;
}





nav{
    background-color:#64B28B ;
    font-size: 0.45rem;

    margin-bottom: 10px;
}

/* 調整navbar的高度 */
.navbar{
    padding:6px 15px;
}
/* 調整選項高度 */
.nav-link{
    padding:10px 8px;
}

.navbar-toggler{
    height: 51px;
    padding: 0px;
    border: none;
}
.navbar-toggler img{
    width: 39px;
    height: 33px;
}

.nav-item > a{
    color:#FFFEF8;
}
.nav-link{
	border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.nav-link:hover{    
    border: 1px solid transparent;
    background-color: rgb(83, 148, 116);
    color: white;
    border-color: rgb(83, 148, 116);
}
.nav-link:focus{
	background-color: rgb(83, 148, 116);
}
/*去掉選單箭頭*/
nav .dropdown-toggle::after {
    display:none;
}

.dropdown-menu a{
    color: gray;
    font-size: 0.45rem;
}

.nav__color_block{
    height: 45px;
    background-color: #6cc297;

    position: relative;
    left: -30px;
    bottom: -8px;
}

/*用來消除按鈕的紅色外框線條*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



.nav-item a{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.noPadding{
    padding: 0px;
}

/* nav的廢棄設定
.nav__color_block{
    position: relative;
    top: 35px;
    width: 100%;
    height: 30px;
    background-color: #7CC19D;
}

.nav-row{
    background: #64B28B;
    height: 65px;
    margin-bottom: 26px;  
}

.nav-customized{
    background: #64B28B;
    font-size: 0.51rem;

}

.navigation .nav-link{
    padding:0px; 
    line-height: 65px;
}

.nav .nav-item{
    padding:0px 5px ;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    height: 66px;
    color: white;
}

.nav-tabs .nav-link:hover{    
    border: 1px solid transparent;
    background-color: rgb(83, 148, 116);
    color: white;
    border-color: rgb(83, 148, 116);
}

.dropdown-menu{
    font-size: 0.57rem;
}
.dropdown-item:hover{
   color: #16181b;
   text-decoration: none;
   background-color: #9CD3BE;
}
ul a{
    color: #474241;
}
*/
header a{
    color: #474241;
}

a,a:hover{
    text-decoration:none;
    color: #474241;
}



#my-carousel{
    width: 100%;
    height: 100%;

    margin-bottom: 39px;
}

#my-carousel .carousel-inner img {
    width: 100%;
    height: 100%;
}


/*愛上Travelbee的理由*/
.reason{
    height: 163px;
    background-color:#F4EAC3 ;  
    z-index: 0; 
}
.reason p{
    font-size: 0.8rem;
    z-index: 2;
    margin: 0px;
    font-weight: 700;
    min-width: 417px;
}
/* 色塊定義
.reason__color_block_top{
    width: 200px;
    height: 20px;
    position: relative;
    left: -450px;
    top: 30px;

    z-index: 1;
    border-radius: 30px;
    background-color: #90D3AF;
} */


.reason__pro__col{
    background-color: #5AB791;
    border-radius: 10px;
    height: 53px;
    color: white;
    z-index: 50;
    width: 854px;
}


.reason__icon{
    width: 28px;
    height: 28px;

    margin-right: 9px;
}

#reason__icon2{
    width: 16.9px;
    height: 29.2px;
}

.reason__text{
    font-size: 0.45rem;

    margin-right: 36px;
    /* line-height: 53px; */
}

/*色塊定義*/
.reason__color_block_bottom{
    width: 1330px;
    height: 50px;
    position: relative;
    left: 10px;
    top: -40px;

    z-index: 0;
    border-radius: 30px;
    background-color: #419E76;
}


/*色塊定義*/
.color_block{
    width: 200px;
    height: 40px;
    position: relative;
    left: -190px;
    top: 30px;


    z-index: -1;
    border-radius: 30px;
    background-color: #90D3AF;
}

/*如何開始區塊*/

/*如何開始 Tittle的部分*/
.HowToStart__tittle , .FindBee__tittle , .BecomeBee__tittle{
    margin: 10px;
    margin-top: 80px;
    margin-bottom: 60px;

    font-size: 0.8rem;
}
.HowToStart__tittle img , .FindBee__tittle img , .BecomeBee__tittle img{
    width:38px ;
    height:41px ;
}

/* 所有的tittle */
.tittle_text{
    margin-left: 5px;
    font-size: 1em;
    font-weight: 550;
}

/*內容部分*/

.subtittle_number{

    font-size: 0.8rem;
    font-weight: 700;
    width: 71px;
    height: 71px;
    max-width: 100px;

    color: white;
    border:1px solid #419E76;
    border-radius: 20px;
    background-color: #419E76;
}


.subtittle_text{
    font-size: 0.71rem;
    font-weight: 700;
}


.content__box{
    max-width: 1100px;
    margin-bottom: 56px;
}

.content_box_text{
    font-size: 0.57rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content_box_right{
    align-self: center;
}
.content_box_right img{
    width: 100%;
    height: 100%;
}

.HowToStart__btn__link:hover .HowToStart__btn{
    filter: brightness(80%);
    -webkit-filter:brightness(80%); 
}

.HowToStart__btn{
    margin: 20px;
    width: 413px;
    height: 87px;
    
}

/*大按鈕的陰影色塊*/
/*色塊定義*/
.btn_color_block{
    width: 615px;
    height: 165px;
    position: relative;
    left: 30px;
    top: -150px;


    z-index: -1;
    border-radius: 30px;
    background-color: #419E76;
}





.FindBee__text{
    margin-top: 90px;
}






.BecomeBee__pros{
    max-width: 1100px;
    
    font-size: 0.57rem;
    padding: 22px 40px;
    margin-bottom: 100px;

    background-color: #F4EAC3;
    
}
.becomeBee__description{
    height: 50px;
    font-size: 0.57rem;
}

.pro{
    width: 184px;
    height: 184px;

    max-width:300px;
}

.pro__text{
    margin-bottom: 0px;
    line-height: 184px;
}


.footer{
    margin-top: 126px;
    height: 126px;
}

.footer ul{
    list-style:none;
    background: #9CD3BE;
    
    width: 100%;
    height: 126px;
    font-size: 0.57rem;
}

.footer .nav-link{
    width:100%;
    
    color: black;
}

.footer .footer_text:hover a {
	background: rgb(3, 5, 4);
}



/*Top按鈕*/
.gotop {
    position:fixed;
    z-index:90;
    right:30px;
    bottom:31px;
    display:none;
    width:50px;
    height:50px;
    color:#fff;
    background:#9CD3BE;
    line-height:50px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.gotop :hover{
    background:rgb(85, 138, 117);
}



/*scrollbar*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; 
}
    
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); 
}
    


/* @media screen and (min-width: 800px) {

} */


/*字體大小動態變化 */
/*
小於max會改變
@media screen and (max-width: px) {
    html{
        font-size: pt;
    }
    nav-row{
        height: px;
        margin: px;
    }
}

*/


/* 
@media screen and (max-width: 1440px) {
    html{
        font-size: 30pt;
    }

    .nav-row{
        height: 56px;
    }

}
@media screen and (max-width: 1140px) {
    html{
        font-size: 24pt;
    }

    .nav-row{
        height: 30px;
    }
}

@media screen and (max-width: 920px) {
    html{
        font-size: 23pt;
    }
    nav-row{
        height: 52px;
    }
}

@media screen and (max-width: 900px) {
    html{
        font-size: 22pt;
    }
    nav-row{
        height: 50px;
    }
}

@media screen and (max-width: 800px) {
    html{
        font-size: 21pt;
    }
    nav-row{
        height: 48px;
    }
}

/* for animated */
.hide{
    opacity: 0;
}
.show{
    opacity: 1;
}